.card {
	width: 24rem;
	height: 20rem;
	background-color: #cdd5e4;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	margin-bottom: 1rem;
}

.card-body {
	display: grid;
	grid-template-columns: 4fr 1fr;
	gap: 1rem;
}

.card-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 1.75rem;
}

.img {
	height: auto;
	object-fit: cover;
}

.title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.text {
	text-align: left;
	font-size: 0.9rem;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.text-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}