.card-layout {
	width: auto;
	height: 32rem;
	background-color: var(--secondary);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

.card-text-icon-body {
	display: grid;
	grid-template-columns: 4fr 1fr;
	gap: 1rem;
}

.card-map-icon {
	width: 2rem;
	height: 2rem;
}

.stoop-title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.stoop-text {
	text-align: left;
	font-size: 0.9rem;
}

.text-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
