.card-layout {
	background-color: var(--secondary);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	width: clamp(250px, 60rem, 85vw);
}

.img {
	width: 100%;
	object-fit: cover;
}

.card-body-layout {
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.card-map-icon {
	width: 2rem;
	height: 2rem;
}

.stoop-text {
	font-size: 0.9rem;
}

.text-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
	height: fit-content;
	overflow: hidden;
}

.map-button {
	display: flex;
	align-items: center;
}
.distance {
	font-size: 0.8rem;
	font-weight: 600;
	text-align: center;
}

#timestamp {
	font-weight: normal;
	font-size: 1rem;
	line-height: 1rem;
	margin-top: 0.1rem;
}
