.form-wrapper {
	padding: clamp(2rem, 1vw, 4rem);
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

h1 {
	font-weight: 700;
	font-size: 2.25rem;
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: center;
}

.map-fullscreen div .fullMap {
	height: 100%;
	z-index: 100;
}

.btn-info {
	font-size: 0.7rem;
}

.form-control {
	width: 100%;
}

.imgContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 20rem;
	padding: 0;
}

.img {
	max-height: 100%;
}

.buttonWrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

#stoopimage {
	appearance: none;
	display: none;
}

.mapDiv {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}
.mapDiv > * {
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

.errorMsg {
	color: red;
}
