.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 3rem;
}

.range-container {
	display: flex;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	background-color: var(--secondary);
	color: black;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.stoops-count {
	font-size: 1rem;
	font-weight: bold;
}

.input-range {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

.input-range::-webkit-inner-spin-button,
.input-range::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

.range-buttons {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin-left: 5px;
}

.range-buttons button {
	padding: 2px;
	font-size: 10px;
	margin-right: 2px;
}
