.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 3rem;
}

.range-container {
	display: flex;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	background-color: var(--secondary);
	color: black;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.stoops-count {
	font-size: 1rem;
	font-weight: bold;
}
