mongoURI="Check StoopIt's Github repository variables in Settings>Secrets and Variables or ask maintainers in #team-stoopit"
AWS_ACCESS_KEY_ID="Check StoopIt's Github repository variables in Settings>Secrets and Variables or ask maintainers in #team-stoopit"
AWS_SECRET_ACCESS_KEY="Check StoopIt's Github repository variables in Settings>Secrets and Variables or ask maintainers in #team-stoopit"